* text=auto eol=lf
*.sh text eol=lf
diagnostics/* text eol=lf
repairs/* text eol=lf
collectors/* text eol=lf
src/* text eol=lf
*.md text eol=lf
Makefile text eol=lf
LICENSE text eol=lf
*.txt text eol=lf
